body{
    background-color: orange;
    padding: o;
    margin: 0;
}
.One{
    height: 600px;
    width: 400px;
    margin: 100px  auto;
    background-color: white;
    position: relative;
    text-align: center;



}